.img {
  position: relative;
  padding-bottom: 20px;
  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 4px;
    bottom: 0;
    display: block;
    background-color: $text;
  }
}
.img__wrapper {
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(/img/vera-cv-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: grayscale(100%);
}

.img__title {
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.img__subtitle {
  font-size: 18px;
  text-transform: uppercase;
}
.aside {
  padding: $gap;
  display: flex;
  flex-direction: column;
  gap: $gap;
  outline: 1px solid black;
}
.aside__list {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.aside__title {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.aside__tel,
.aside__mail,
.aside__link,
.aside__city {
  display: flex;
  gap: 4px;
  align-items: center;
  color: inherit;
}

.aside__list {
  padding-left: 20px;
}
